* {
    margin: 0;
    padding: 0;
    

}
.main1 {
    cursor: pointer;
}
body {
    width: 100%;
    height: 100vh;
    background: #fff;
    color: black;
    font-family: sans-serif;
    position: relative;
    box-sizing: border-box;
}

.content1 {
    width: 100%;
    position: relative;
}

.content1 img {
    width: 100px;
    padding: 20px 20px 0 20px;
}
.content1 p {
    width: 150px;
/*    font-family: 'Lobster', cursive;*/
    
    font-size: 20px;
/*    padding: 20px;*/
/*    margin-bottom: 50px;*/
    
    
}
.box2 .subbox {
    display: inline-block;
   width: 350px;
    
    
}.box2 .subbox span {
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
    
}
.box2 {
    position: absolute;
    width: 80%;
    right: 0px;
    top: 260px;
    z-index: 1;
    
}.box2 img {
    width: 300px;
/*    background: red;*/
}
.box1 {
    text-align: center;
    width: 150px;
/*    background: red;*/
}

.box1 p:nth-of-type(2) {
    font-weight: 400;
    font-size: 25px;
    font-weight:  bold;
    margin-top: 5px;
    margin-bottom: 50px;
}
.content1 ul li {
   
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 0px;
/*    font-family: 'Nanum Pen Script', cursive;*/
    font-size: 20px;
    cursor: pointer;
}

.content1 ul {
    width: 150px;
    height: 500px;
    border-right: 2px solid black;

  
}
 .mainimg {
    position: absolute;
right: 30%;
     top: 30%;
    width: 500px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.content2 {
    position: absolute;
    left: 180px;
    top: 280px;
    z-index: 1;
}
li {
    list-style: none;
}


@media screen and (max-width: 1128px) { body {
/*    background: red;*/
    
    }

    
.box1 {
    text-align: center;
    width: 150px;
    margin: 0 auto;
/*    background: red;*/
}
    .submenu {
     width: 100%; 
        display: flex;
     justify-content: center;
    }
    .content1 ul {
        margin: 0 auto;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
        border-right: 0;

  
}
    .main1 {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
   
        margin: 0 auto;
    cursor: pointer;
}
    .divimg {
        width: 100%;
        height: 36.123rem;
        position: relative;
        text-align: center;
        
    }
     .mainimg {
    position: absolute;
right: 0%;
     top: inherit;
    width:inherit;
}
    
    .divimg .mainimg {
    display: inline-block;
    position: relative;
    margin: 0 auto; 
     top: 70px;
    max-width: 25rem;
    height: auto;
}
    .box2 .subbox {
    display: inline-block;
   width: 350px;
    
    
}.box2 .subbox span {
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
    
}
.box2 {
    text-align: center;
    position: absolute;
    width: 100%;
    right: 0px;
    top: 360px;
    height: 1000px;
    
}.box2 img {
    width: 300px;
/*    background: red;*/
}
 .content2 {
     text-align: center;
     width: 100%;
    position: absolute;
    left: 0px;
     margin: 0 auto;
    top: 350px;
}   
}
@media screen and (max-width: 408px) {
    .divimg .mainimg {
    display: inline-block;
    position: relative;
    margin: 0 auto; 
     top: 70px;
    max-width: 19rem;
    height: auto;
     
}
}